.pag_login {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #faf1f1;
	width: 100%;
	flex-direction: column;
}

.bloco-1 {
	display: flex;
	width: 100%;
	height: 40rem;
	overflow: hidden;
}

.foto1 {
	width: 50%;
}

.form-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: auto;
	background-color: #fff;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	padding: 1rem 1rem;
	h2 {
		color: #b71c1c;
	}
	label {
		width: 100%;
		text-align: left;
		margin-bottom: 0.5rem;
	}
	input {
		width: 100%;
		margin-bottom: 1rem;
		outline: none;
	}
	p {
		margin: 1rem;
	}
	p a {
		color: #b71c1c;
	}
}
.bloco-depoimentos {
	width: 100%;
	display: flex;
	padding: 2rem;
	h1 {
		color: #b71c1c;
	}
	span {
		color: #e95151;
	}
}

.overlay {
	position: absolute;
	left: 3rem;
	bottom: -22rem;
}

.ultimo-bloco {
	display: flex;
	width: 100%;
	justify-content: start;
	padding: 4rem 2rem;
	h1 {
		color: #b71c1c;
		span {
			color: #000;
		}
	}
}
.medicos {
	position: absolute;
	bottom: -65rem;
	right: 0;
	object-fit: cover;
	height: auto;
}
