body {
    margin: 0; 
    padding: 0; 
    position: relative; 
    height: 100vh; 
    background-color: #FAF1F1; 
}
.login-container {
    width: 300px; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    margin: 50px auto; 
    background-color: #fff; 
}

.login-form {
    display: flex;
    flex-direction: column; 
}

label {
    margin: 10px 0 5px; 
}

input {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

button {
    margin-top: 15px; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: #AC2727; 
    color: white; 
    cursor: pointer; 
}

button:hover {
    background-color: #E95151; 
}



.form-container {
    a {
        text-align: center;
        margin-top: 10px;
    }
    width: 300px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute; 
    top: 200px; 
    right: 100px; 
}

.form-container h1{
    font-size: 12px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label, 
.form-container input, 
.form-container button {
    margin-bottom: 15px;
}

.form-container h2 {
    text-align: center;
}

.foto1 {
    width:853px;
    height:822px;
}


.foto2 {
    position: absolute; 
    bottom: 0px; 
    right: 0px; 
    margin-left: 700px;
}

.foto2 img {
    width: 693px; 
    height: 597px; 
    object-fit: cover; 
}

.foto3 {
    position: relative;
    width: 1169px;
    height: 935px;
}

.foto3 img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    width: 50%;
    text-align: center;
    color: white;
    font-size: 24px;
}

.overlay h1 {
    margin-bottom: 20px;
}

.frase1 {
    color: #AC2727;
}

.frase2 {
    color: #E95151;
}

.overlay button {
    padding: 10px 20px;
    background-color: #AC2727;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.overlay button:hover {
    background-color: #E95151;
}

.ultima-frase {
    font-size: 34px; 
    text-align: left; 
    margin-left: 50px; 
    margin-top: 100px;
    margin-bottom: 100px;
}

.doe-sangue {
    color: #AC2727; 
}

.vidas-dependem {
    color: #0C0505;
}

.palavra{
    color: #E95151;
}

