.pag_login {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #faf1f1;
	width: 100%;
	flex-direction: column;
}

.bloco-1 {
	display: flex;
	width: 100%;
	height: 40rem;
	overflow: hidden;
}

.foto-login {
	width: 50%;
}

.form-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.chamada {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #b71c1c;
		margin-top: 2rem;
		svg {
			margin-top: 0.5rem;
			font-size: 2rem;
		}
	}
}

.container-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: auto;
	background-color: #fff;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	padding: 1rem 1rem;
	h2 {
		color: #b71c1c;
	}
	label {
		width: 100%;
		text-align: left;
		margin-bottom: 0.5rem;
	}
	input {
		width: 100%;
		margin-bottom: 1rem;
		outline: none;
	}
	p {
		margin: 1rem;
	}
	p a {
		color: #b71c1c;
	}
}
.bloco-depoimentos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	display: flex;
	padding: 2rem;
	img {
		height: 40rem;
	}
	h1 {
		color: #b71c1c;
	}
	span {
		color: #e95151;
	}
	.overlay {
		margin-left: 1.5rem;
	}
}

.ultimo-bloco {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 0 2rem;
	h1 {
		color: #b71c1c;
		span {
			color: #000;
		}
	}
	.ultima-frase {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
	}
}
.medicos {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	img {
		height: 25rem;
	}
}
