.pag_recuperacao_2 {
	display: flex;
	align-items: center;
	min-height: 100vh;
	background-color: #faf1f1;
	width: 100%;
	flex-direction: column;
}

.titulo {
    h1{
	font-weight: 400;
	color: #ac2727;
	text-align: center;
	margin-top: 30px;
    }
}

.bloco-1 {
	display: flex;
	width: 100%;
	height: 40rem;
	overflow: hidden;
}

.foto1 {
	width: 40%;
	height: 40%;
	padding-top: 20%;
	padding-left: 10%;
}

.form-container {
	width: 55%;
	height: 85%;
	margin-right: 0%;
	position: relative;
	justify-content: center;
	
}

.container-senha {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 70%;
	background-color: #fff;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	padding: 1rem 1rem;
	justify-content: center;
	h2 {
		color: #000000;
		text-align: center;
		font-size: 120%;
		font-weight: 400;
		margin-right: 15px;
		margin-left: 15px;
		margin-bottom: 7%;
		
	}
	label {
		width: 100%;
		text-align: left;
		margin-top: 1%;
		margin-bottom: 0.5rem;
		margin-left: 10%;
		font-family: Arial, sans-serif;
		justify-content: center;
		font-size: 75%;
		font-weight:700;
	}
	input {
		width: 80%;
		height: 10%;
		margin-bottom: 1rem;
		outline: none;
		border-style:solid;
		justify-content:center;
		margin-left: 40px;

		
	}
}

.btn-recuperar{
	width: 100%;
	padding: 1.5rem 5rem;
	justify-content: center;
	margin-left: 10%;
	label {
		font-weight: 300;
	}
}
