.bloco-container {
	position: relative; 
	background-color: white;
	padding: 0px;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 1000px;
}

.titulo-acompanhamento {
    h1{
	font-weight: 500;
	color: #ac2727;
	text-align: center;
	margin-top: 70px;
	font-size: 22px;
    }
}

.acompanhamento-imagem {
	position: absolute;
	top: 120px;
	left: 650px;
	width: 350px;
	height: 300px;
}

.upload-imagem {
	position: absolute;
	top: 630px;
	left: 150px;
	width: 300px;
	height: 190px;
}

.upload-imagem2 {
	position: absolute;
	top: 965px;
	left: 150px;
	width: 300px;
	height: 190px;
}

.acompanhamento_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
	background-color: #faf1f1;
	min-height: 100vh;
	p {
		margin-top: 50px;
		margin-left: 50px;
		margin-right: 400px;
		text-align: justify;
		font-size: 15px;
	}
}

.acompanhamento-card {
	background-color: #faf1f1;
	padding: 20px;
	border-radius: 30px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 900px;
	height: 300px;
	margin-top: 120px; 
	margin-bottom: 2rem;
	margin-left: 50px;
	
}

.acompanhamento-card2 {
	background-color: #faf1f1;
	padding: 20px;
	border-radius: 30px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 900px;
	height: 300px;
	margin-top: 40px; 
	margin-bottom: 6rem;
	margin-left: 50px;
	
}

label {
	font-size: 14px;
	margin-right: 10px;
}

.btn-acompanhamento {
	position: absolute;
	top: 280px; 
	left: 125px;
	display: flex;
	justify-content: center;
}
  
  .upload-label {
	cursor: pointer;
  }
  
  .file-input {
	display: none;
  }
  
  .detalhes-agendamento h3 {
	font-size: 20px;
	font-weight: 400;
	color: #000000;
	margin-left: 525px;
	margin-top: 20px;
	margin-bottom: 30px;
  }
  
  .detalhes-agendamento p {
	font-size: 16px;
	color: #a12b2b;
	margin: 4px 0;
	margin-left: 565px;
	
  }

  .detalhes-agendamento button {
	font-size: 16px;
	background-color: #ac2727;
	color: #ffffff;
	margin-top: 20px;
	margin-left: 565px;
	border-radius: 30px;
	border-color: #ac2727;
	padding: 6px;
	

	
  }

  .detalhes-agendamento2 h3 {
	font-size: 20px;
	font-weight: 400;
	color: #000000;
	margin-left: 525px;
	margin-top: 20px;
	margin-bottom: 30px;
  }
  
  .detalhes-agendamento2 p {
	font-size: 16px;
	color: #a12b2b;
	margin: 4px 0;
	margin-left: 565px;
	
  }

  .detalhes-agendamento2 button {
	font-size: 16px;
	background-color: #ac2727;
	color: #ffffff;
	margin-top: 20px;
	margin-left: 565px;
	border-radius: 30px;
	border-color: #ac2727;
	padding: 6px;
	

	
  }