header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 4rem;
	width: 100%;
	background-color: #faf1f1;
	color: #ac2727;
}

.texto {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.bloco {
	flex: 1;
	background-color: #faf1f1;
}

.linha {
	width: 70%;
	height: 0.1rem;
	background-color: #ac2727;
	border-radius: 50%;
	filter: blur(1px);
	margin-top: 1rem;
}
