/* Reset de CSS básico */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

ol,
ul {
	list-style: none;
}

img,
video {
	max-width: 100%;
	height: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
}

input,
button,
textarea,
select {
	font: inherit;
}

h1 {
	font-size: 32px;
}
a {
	text-decoration: none;
	color: inherit;
}
